.swiper {
  margin: 0 auto;
  position: relative;
}

.swiper__wrapper {
  width: 100vw;
  min-height: 656px;

  @media (min-width: $tablet-width) {
    min-height: 828px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border: none;

  width: 20px;
  height: 100%;
  padding: 0;
  background-color: transparent;
  top: 22px;

  &::after {
    font-size: 20px;
    color: $base-primary;

    &:disabled {
      color: $base-grey;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.swiper-button-prev {
  left: 8px;

  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, $primary-opacity 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.swiper-button-next {
  right: -8px;

  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(-90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(-90deg, $primary-opacity 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.swiper__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    height: 24px;
    justify-content: center;
    align-items: center;
  }
}

.swiper-pagination-bullets .swiper-pagination-horizontal {
  bottom: 60px;
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
  margin-left: 8px;

  &:hover,
  &:focus {
    outline: none;
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $base-primary;
  }

  &--current {
    background-color: $base-primary;

    &:hover,
    &:focus {
      outline: none;
      background-color: $primary-opacity;
    }
  }
}
