.catalog {
  background-color: $lightest-grey;
}

.catalog__wrapper {
  @include wrapper;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__header {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__badge {
  @include badge;

  display: block;
}

.catalog__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

