.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-nav__toggle {
  position: relative;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  background-color: $base-white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 24px;
  right: 20px;
  width: 16px;
  height: 1.5px;
  background-color: $base-black;
  box-shadow: 0 5px 0 0 $base-black, 0 10px 0 0 $base-black;
}

.main-nav--closed .main-nav__toggle {
  &:active {
    background-color: $base-secondary;
  }
}

.main-nav--closed .site-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 1440px;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 29px;
    right: 22px;
    width: 14px;
    height: 1.5px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10;
  width: 100%;
  background-color: $base-white;
}

.main-nav--nojs .nav-buttons {
  @media (min-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    right: 60px;
  }
}
