.footer__wrapper {
  @include wrapper;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__container {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: repeat(3, 222px);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 318px);
  }
}

.footer__block {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $base-secondary;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--social {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
    }
  }
}

.footer__inner {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__title {
  font-weight: $weight-bold;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: $base-primary;
  margin: 0;
  padding: 0;
}
