.media {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 28px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.media__item {
  height: 32px;
  margin-bottom: 2px;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }
}

.media__link {
  font-weight: $weight-regular;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $base-primary;
  }
}
